# General
*.tmp
*.bak
*.swp
*~

# Eclipse
.project
.metadata
.settings/
*.launch
.buildpath

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# SVN
.svn/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# OpenMediaVault / Debian
debian/openmediavault-*
debian/files
debian/*.debhelper.log
debian/*.debhelper
debian/*substvars
debian/debhelper-build-stamp
